@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body {
    margin: 0;
}
body {
    background-color: #080E90;
    font-family: 'Graduate', cursive;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    width: 100%;
    font-size: 20px;
    background-color: #FCFF73;
    color: #080E90;

}
.deck{
    background-color: #FF73C7;
}
h2{
    margin-left: 10%;
    color: white;
}
.select{
    margin-top: 1em;
    display: flex;
    margin-left: 40%;
    width: 30%;
    justify-content:space-around;
    align-content: center;
}
.select p{
    color: white;
}
.botao{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40%;
    height: 4em;
    border-radius: 0.8em;
    font-size: 2.4em;
    font-family: 'Graduate', cursive;
    color: white;
}
.salvar{
    background-color: #FCFF73;
    border:1px solid #FCFF73;
}
.cancelar{
    background-color:red;
    border:1px solid red;
}
.titulo{
   
    color: white;
    font-size: 2.3em;
}
.barra{
    background-color: white;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    border-radius: 35px;
    font-size: 1.3em;
    
}
.Resposta{
    background-color: white;
    height: 50px;
    width: 90%;
    justify-content: center;
    border-radius: 35px;
    margin-top: 10px;
}
.circulo{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin-right: 1em;
}
.green{
    background-color: rgb(42, 228, 42);
}

.red{
    background-color: red;
}
.circuloResposta{
    margin-top: 2em;
    margin-left: 10%;;
    display: flex;
    justify-content: start;
}
.butoes{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
}
.invisivel{
    display: none;
}
.check{
    height: 3em;
    width: 3em;
    background-color:beige;
    border-radius: 0.5em;
}
.clicado{
    background-color: #FF73C7;
}
