@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body {
    margin: 0;
}
body {
    background-color: #080E90;
    font-family: 'Graduate', cursive;
}
header {
    text-align: center;
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0; 
    left: 0; 
    right: 0;
    font-size: 20px;
    background-color: #FCFF73;
    color: #080E90;
}
.deck{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 80px;
    font-size: 20px;
    background-color: #FF73C7;
    color: #080E90;
    margin-top: -525px;
}
.salvar{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FCFF73;
    border:1px solid #FCFF73;
    width: 350px;
    height: 120px;
    border-radius: 15px;
    margin-top: 600px;
    margin-left: 300px;
    font-size: 2.4em;
    font-family: 'Graduate', cursive;
}
.cancelar{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color:red;
    border:1px solid red;
    color: white;
    width: 350px;
    height: 120px;
    border-radius: 15px;
    margin-top: -115px;
    margin-left: 700px;
    font-size: 2.4em;
    font-family: 'Graduate', cursive;
}
.titulo{
    color: white;
    font-size: 2.3em;
    margin-top: -555px;
    margin-left: 50px;
}
.barra{
    background-color: white;
    height: 50px;
    width: 1100px;
    margin-left: 150px;
    margin-right: 300px;
    justify-content: center;
    margin-top: 70px;
    border-radius: 35px;
    font-size: 1.3em;
    
}
.Resposta1{
    background-color: white;
    height: 50px;
    width: 1050px;
    margin-left: 200px;
    margin-right: 300px;
    justify-content: center;
    border-radius: 35px;
    margin-top: 10px;
}
.Resposta2{
    background-color: white;
    height: 50px;
    width: 1050px;
    margin-left: 200px;
    margin-right: 300px;
    justify-content: center;
    border-radius: 35px;
    margin-top: 10px;
}
.Resposta3{
    text-align: justify;
    background-color: white;
    height: 50px;
    width: 1050px;
    margin-left: 200px;
    margin-right: 300px;
    justify-content: center;
    border-radius: 35px;
    margin-top: 10px;
}
.circulo1{
    background-color: rgb(42, 228, 42);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: -175px;
    margin-left: 150px;
}
.circulo2{
    background-color: red;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 150px;
}
.circulo3{
    background-color: red;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 150px;
}