/* 
Códigos para o geral da página. Ideia: colocar eles no global.css, pois podem ser úteis para as demais páginas.
*/
html, body {
    margin: 0;
}

body {
    background-color: #080E90;
    font-family: 'Graduate';
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0; 
    right: 0;
    font-size: 1.5em;
    background-color: #FCFF73;
    color: #080E90;
    font-style: normal;
    font-weight: 400;
}

/* Código específico para a página de resultados */
.content {
    color: white;
    padding-top: 130px;
}

.score {
    text-align: center;
    font-size: 1.5em;
}

.respostas {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 2.3em;
    line-height: 2;
    padding: 20px;
}

.voltar {
    margin-bottom: 40px;
    background: #85FFA7;
    font-family: 'Graduate';
    font-size: 2em;
    height: 100px;
    padding: 20px;
    border-style: none;
    border-radius: 35px;
    text-shadow:none;
}

.voltar:hover {
    background: #85FFFF;
}

.resposta {
	margin-left: 30px;
}