body{
    background-color: #080E90;
    font-family: 'Graduate';
    font-style: normal;
}

ul{
    list-style-type: none;
}

.titulo{
    position: relative;
    width: 148px;
    height: 0px;
    left: 680px;
    top: 0px;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #080E90;
    text-align: center;
}

#nomeDeck{
    position: relative;
    width: 288px;
    height: 40px;
    left: 620px;
    top: 0px;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    color: #080E90;
    text-align: center;
}

#cabecalho1{
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #FCFF73;
}

#cabecalho2{
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 65px;
    background-color: #FF73C7;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
}

#corpo{
    display:-ms-flexbox;
    position: absolute;
    color:#FCFF73;
    width: 80%;
    height: 100%;
    top: 200px;
    left: 100px;
    margin: 20px 0px 0px 0px;

}

.subtitulo{
    position: relative;
    width: 340px;
    height: 0px;
    left: 0px;
    top: 30px;
    font-weight: 200;
    font-size: 30px;
    line-height: 0px;
    color: #F5F5F5;
    margin: 0px 0px 70px 0px;
}

#lista-cards{
    display:block;
    position: relative;
    left: 100px;
    padding-top: 10px;
}

.card{
    position: relative;
    height: 30px;
    width: 1100px;
    background-color: #F5F5F5;
    color: #818181;
    margin: 0px 20px 10px 0px;
    padding: 10px 10px 15px 40px;
    font-size: 28px;
    border-radius: 35px;
}

.botaoDel{
    position: relative;
    left: 820px;
    background-color: #F5F5F5;
    border: none;
    font-family: 'Graduate';
    font-style: normal;
    font-size: 24px;
    color: #000000;
}
.botaoEd{
    position: relative;
    left: 800px;
    background-color: #F5F5F5;
    border: none;
    font-family: 'Graduate';
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

#botaoAd{
    display: flex;
    position: relative;
    left: 260px;
    margin: 30px 0px 15px 0px;
    border-style: none;
    border-radius: 15px;
    background-color: #85FFA7;
    height: 70px;
    width: 860px;
    border-radius: 35px;
    color: #000000;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 50px;
    align-items: center;
    text-align: center;
}

#add{
    position: relative;
    left:200px;
}

#botaoSalvar{
    position: relative;
    left: 460px;
    top: 10px;
    width: 433px;
    height: 137px;
    background: #FCFF73;
    border-radius: 35px;
    border: none;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    display: flex;

}

#save{
    position: relative;
    left:110px;
}